/*  Set layers-- this needs to be imported before all other files. */
@import "./layer.css";

/* Global overrides */
@import "./global.css";

/* Prose and typography at the base level */
@import "./base/typography.css"; 

/* Forms and form elements global */
@import "./base/form.css";

/* Declared in page.html.twig rather than SDC*/
@import "./theme/footer.css";

/* OLD version--loists of styling to take from this though */
@import "./components/hero.css";
@import "./components/localTasks.css"; /* Checked and in use */
@import "./components/paragraph.css";

@layer reset, base, theme, component, utilities, overrides;

@layer base {
   :root {

    /* colours */
    /* primary */
    --color-primary: #CAB1BD;
    --color-primary-dark: #ebadcb;
    --color-primary-light: #E7CFCD;
    --color-secondary: #9F9AA4;
    --color-secondary-light: #CFD8D7;
    --color-secondary-dark: #B5C9C3;
    --color-highlight: #e4e685;
    --color-secondary-darker: #8b888f;
    --color-secondary-lighter: #e9e9e9;
  
    /* Non prose 'text' elements */
    --ridd-text-body: #000918;
    

    /* Highlight on focus */
    --focus-outline: 0.5rem solid var(--color-highlight);
    --focus-outline-transition: outline 0.3s ease-in-out;

    /* Gutter width for regions / sections  equivalent to .container in TW */
    --ridd-gutter-width: 1rem;

   }

  /* Media vars */
  /* Tablet */
  @media (min-width: 768px) {
    :root {

    /* Gutter width for regions / sections  equivalent to .container in TW */
    --ridd-gutter-width: 1.5rem;
    }
  }

  /* Desktop */
  @media screen and (min-width: 1024px) {

    :root {
        /* Gutter width for regions / sections  equivalent to .container in TW */
        --ridd-gutter-width: 2rem;
      }

  }
  /* Wide */
  @media screen and (min-width: 1440px) {
    :root {
        /* Gutter width for regions / sections  equivalent to .container in TW */
        --ridd-gutter-width: 3rem;
      }
  }

  body {
    font-family: 'Raleway', sans;
  }


  /* prose variables */
    .prose {
    --ridd-prose-body: #000918;
    --ridd-prose-headings: #111827;
    --ridd-prose-lead: #4b5563;
    --ridd-prose-links: #143b8d;
    --ridd-prose-bold: #111827;
    --ridd-prose-counters: #030e1f;
    --ridd-prose-bullets: #030e1f;
    --ridd-prose-hr: #e5e7eb;
    --ridd-prose-quotes: #111827;
    --ridd-prose-quote-borders: #e5e7eb;
    --ridd-prose-captions: #6b7280;
    --ridd-prose-kbd: #111827;
    --ridd-prose-kbd-shadows: 17 24 39;
    --ridd-prose-code: #111827;
    --ridd-prose-pre-code: #e5e7eb;
    --ridd-prose-pre-bg: #1f2937;
    --ridd-prose-th-borders: #d1d5db;
    --ridd-prose-td-borders: #e5e7eb;
    --ridd-prose-invert-body: #d1d5db;
    --ridd-prose-invert-headings: #fff;
    --ridd-prose-invert-lead: #9ca3af;
    --ridd-prose-invert-links: #fff;
    --ridd-prose-invert-bold: #fff;
    --ridd-prose-invert-counters: #9ca3af;
    --ridd-prose-invert-bullets: #4b5563;
    --ridd-prose-invert-hr: #374151;
    --ridd-prose-invert-quotes: #f3f4f6;
    --ridd-prose-invert-quote-borders: #374151;
    --ridd-prose-invert-captions: #9ca3af;
    --ridd-prose-invert-kbd: #fff;
    --ridd-prose-invert-kbd-shadows: 255 255 255;
    --ridd-prose-invert-code: #fff;
    --ridd-prose-invert-pre-code: #d1d5db;
    --ridd-prose-invert-pre-bg: rgb(0 0 0 / 50%);
    --ridd-prose-invert-th-borders: #4b5563;
    --ridd-prose-invert-td-borders: #374151;
  }

}
