

@layer component {

  .ridd-top-nav-desktop-wrapper {
    display: none;

  }

  .ridd-top-nav-mobile-wrapper  button{
    z-index: 2;
    position: relative;
  }

  #ridd-top-nav-mobile-full-links-wrapper {
    height: 0;
    width:  0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    background-color: var(--color-primary-dark);
    position: fixed;
    left: -100px;
    top: -100px;
    z-index: 1;
    transform-origin: top;
    transition: all 0.6s ease-in-out;

    a {
      font-size: 2em;
      padding: 0.5rem;

    }

    a:hover {
      color: white;
    }
  }

  #ridd-top-nav-mobile-full-links-wrapper.dramatic-entry {
    height: 100vh;
    width: 100vw;
    border-radius: 0;
    left: 0;
    top: 0;
  }

  @media screen and (min-width: 768px) {
    /* Hide mobile on tablet and beyond */
    .ridd-top-nav-mobile-wrapper {
      display: none;
    }
    /* Display desktop version of menu */
    .ridd-top-nav-desktop-wrapper {
      display: block;
      padding: 0, 0.5rem;

      ul {
        display: flex;
        gap: 2rem;
      }
      li a {
        font-weight: 600;
      }
    }
  
  }
}


