/* Css for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  position: relative;
  padding: 0;
  margin:0;
  font-variant: small-caps;
  font-weight: 800;
}

h1 {
   font-size: 3em;
   line-height: 3;
}

h2 {
   font-size: 2.5em;
   line-height: 2.75;
}

h3 {
  font-size: 2em;
  line-height: 2.5;
}

h4 {
   font-size: 1.75em;
   line-height: 2.5;
}

h5 {
   font-size: 1.5em;
   line-height: 2.5;
}

h6 {
   font-size: 1.25em;
   line-height: 2.5;
}