@layer reset, base, theme, component, utilities, overrides;

@layer component {

  [data-component-id="ridd:footer_menu"] {
  
    .ridd-footer-menu__title {
        font-size: 1rem;
        font-weight: 600;
    }

    .ridd-footer-menu__item {
      font-size: 0.8rem;
      line-height: 1.8;
    }

    .ridd-footer-menu__icon {
        margin-right: 0.25rem;
      }

    @media screen and (min-width: 768px) {
      .ridd-footer-menu__item {
          font-size: 0.8rem;
          line-height: 1.5;
        }
    }

  }
}
