@layer reset, base, theme, component, utilities, overrides;
/* Css for header */
@layer theme {
  .ridd-site-header {
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem var(--ridd-gutter-width);
    gap: 1rem;
  }

  @media screen and (min-width: 1024px) {
    .ridd-site-header {
      flex-direction: row;
      width: 100%;
    }
  }
}

