/* Css for header */
@layer theme {
  .ridd-site-header {
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 1024px) {
    .ridd-site-header {
      flex-direction: row;
      padding: 0.5rem 1rem;
      width: 100%;
    }
  }
}

