/* CSS for Ridd local styling block */
/* This is the edit, view, delete etc options */
/* visible when logged in */

#block-ridd-primary-local-tasks{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    gap: 1rem;
  

    li {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        border: 1px solid var(--color-primary);
      a {
        text-decoration: underline;
      }
    }
  }
}

