@layer reset, base, theme, component, utilities, overrides;

@layer theme {

.ridd-hero-container {
  display:grid; 
  grid-template-columns: 1fr;
  border-radius: var(--ridd-rounded-sm);
  background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
  text-align: center;
  /* TODO: Box shadow vars */
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  }

  .ridd-hero-content {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    gap: 3rem;
    grid-column: 1 / 3;
  }

  .home-page-hero-image-wrapper {
    clip-path: ellipse(90% 100% at bottom);
  }

  .home-page-hero-image-wrapper div:not(div[data-once="contextual-render"]) {
    height: 100%;
    width: 100%;

  }

  /* sm: */
  @media screen and (min-width: 640px) {

    .home-page-hero-image-wrapper {
      clip-path: ellipse(90% 100% at right);
    }



    .home-page-hero-image-wrapper img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  /* Tablet */
  @media screen and (min-width: 768) {
    .ridd-hero-container {
      grid-template-columns: repeat(5, 1fr);
      gap: 3rem;

    }

    .ridd-hero-content {
      padding: 3rem;
    }
  }

}
