@layer reset, base, theme, component, utilities, overrides;

@layer theme {

.ridd-hero-container {
  display:grid; 
  border-radius: var(--ridd-rounded-sm);
  background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
  text-align: center;
  /* TODO: Box shadow vars */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .ridd-hero-content {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    z-index: 5;
    
  }

  h1.ridd-hero-title   {
    font-size: 2em;
    line-height: 1.5;

  }

  .ridd-hero-image-wrapper {
    clip-path: ellipse(90% 100% at bottom);
    border-radius: var(--ridd-rounded-sm);
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
  }

  .ridd-hero-image-wrapper img {
    border-radius: var(--ridd-rounded-sm);
  }

  .ridd-hero-image-wrapper div:not(div[data-once="contextual-render"]) {
    height: 100%;
    width: 100%;

  }

  /* sm: */
  @media screen and (min-width: 640px) {

    .ridd-hero-image-wrapper {
      clip-path: ellipse(90% 100% at right);
    }

    .ridd-hero-image-wrapper img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  /* Tablet */
  @media screen and (min-width: 768px) {
    
    .ridd-hero-container {
      grid-template-columns: repeat(5, 1fr);
      gap: 3rem;

    }

    .ridd-hero-content {
      padding: 3rem;
      grid-column: 1 / 4;
    }

    .ridd-hero-image-wrapper {
        grid-column: 4 / 6;
    }

  }

}
